#cuadrodearitos {
  display: grid;
  grid-template-areas: "foto1 foto1 foto2 foto2" "foto3 foto3 foto4 foto4" "foto5 foto5 foto6 foto6" "foto7 foto7 foto8 foto8";
  gap: 15px;
  margin: 30px 0;
}
.foto1, .foto2, .foto3, .foto4, .foto5, .foto6, .foto7, .foto8 {
  max-width: 100%;
  height: 400px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.foto1 {
  background-image: url(../img/arito1.jpg);
  grid-area: foto1;

}

.foto2 {
  background-image: url(../img/arito2.jpg);
  grid-area: foto2;
}

.foto3 {
  background-image: url(../img/arito3.jpg);
  grid-area: foto3;
}

.foto4 {
  background-image: url(../img/arito4.jpg);
  grid-area: foto4;
}

.foto5 {
  background-image: url(../img/arito5.jpg);
  grid-area: foto5;
}

.foto6 {
  background-image: url(../img/arito6.jpg);
  grid-area: foto6;
}

.foto7 {
  background-image: url(../img/arito7.jpg);
  grid-area: foto7;
}

.foto8 {
  background-image: url(../img/arito8.jpg);
  grid-area: foto8;
}

.botoncito {
  margin: auto;
  
}

.navegador {
  top: 0;
}

