#carouselExample{
    width: 70%;
    margin: 0 auto;
}
.carousel-item img{
    height: 68vh;
    
} 

/*Medias queries*/
@media (min-widht:520px){
    .carousel-item img{
        width: 40vh;
    }
} 
@media (min-widht:768px){
    .carousel-item img{
        height: 50vh;
    }
}
@media (min-widht:968px){
    .carousel-item img{
        height: 60vh;
    }
}
@media (min-widht:1300px){
    .carousel-item img{
        height: 70vh;
        #carouselExample{
            width: 30%;
        }
    }
}
@media (min-widht:1920px){
    .carousel-item img{
        height:50vh;
        #carouselExample{
            width: 20%;
        }
    }
}