
.nav-






.carousel-item img {
  max-width:100%;
  height: 70vh;
  object-fit: cover;
}

.card-columns .card {
  display: inline-block;
  width: 100%;
}

#carouselExample {
  width: 70%;
  margin: 0 auto;
}
.carousel-inner{
  display: inline-block;
  align-content: center;

}

@media (min-width: 520px) {
  .carousel-item img {
    height: auto;
    margin: 0 auto;
    display:inline-block ;  
  }
}

@media (min-width: 724px) {
  .carousel-item img {
    height: auto;
    margin: 0 auto;
    display:inline-block ; 
    }
    .carousel-inner{
      display: flex;
      align-items: center;
    }
}

@media (min-width: 1024) {
  .carousel-item img {
    height: auto;
    margin: 0 auto;
  }
  .carousel-inner{
    display: flex;
    align-items: center;
}
}
    #carouselExample {
      width: auto;
      margin: 0 auto;
    }

  @media (min-width: 1700px) {
    .carousel-item img {
      height: auto;
      margin: 0 auto;
    }
  }

  .container-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
  }

  .letra-grande {
    text-align: center;
    padding: 5px;
    margin-top: 40px;
    margin-bottom: 40px;
  }

  ul {
    list-style-type: none;
  }

  h1,
  h2,
  h3 {
    font-style: oblique;
    font-weight: 100;
    font-size: 30px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    text-align: center;
    color: #8884FF;
  }

  a {
    text-decoration: none;
    color: #8884FF;
    text-align: center;
    background-color: #cbaa9d;
  }

  * {
    margin: 0;
    padding: 0;
  }

  header {
    background-color: #cbaa9d;
    padding: 10px;
    position: sticky;
    top: 0;
    z-index: 12;
  }

  .container-cards {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
    display: wrap;
  }

  .card {
    max-width: 100%;
  }

  @media (min-width: 768px) {
    .container-cards {
      grid-template-columns: repeat(2, 1fr);
      justify-items: center;
      justify-content: center;
    }
  }

  @media (min-width: 1600px) {
    .container-cards {
      top: auto;
      position: sticky;
    }
  }

  .card-img-top {
    max-width: 100%;
    width: 400px;
  }

  #cuadrodearitos {
    display: grid;
    grid-template-areas: "foto1 foto1 foto2 foto2" "foto3 foto3 foto4 foto4" "foto5 foto5 foto6 foto6" "foto7 foto7 foto8 foto8";
    gap: 15px;
    margin: 30px 0;
  }

  .foto1,
  .foto2,
  .foto3,
  .foto4,
  .foto5,
  .foto6,
  .foto7,
  .foto8 {
    max-width: 100%;
    height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .foto1 {
    background-image: url(../img/arito1.jpg);
    grid-area: foto1;
  }

  .foto2 {
    background-image: url(../img/arito2.jpg);
    grid-area: foto2;
  }

  .foto3 {
    background-image: url(../img/arito3.jpg);
    grid-area: foto3;
  }

  .foto4 {
    background-image: url(../img/arito4.jpg);
    grid-area: foto4;
  }

  .foto5 {
    background-image: url(../img/arito5.jpg);
    grid-area: foto5;
  }

  .foto6 {
    background-image: url(../img/arito6.jpg);
    grid-area: foto6;
  }

  .foto7 {
    background-image: url(../img/arito7.jpg);
    grid-area: foto7;
  }

  .foto8 {
    background-image: url(../img/arito8.jpg);
    grid-area: foto8;
  }

  .botoncito {
    margin: auto;
  }

  .navegador {
    top: 0;
  }
  /*# sourceMappingURL=styles.css.map */